{% if (paginator.hasPages()) %}
    <ul class="pagination" role="navigation">
        {% if (paginator.onFirstPage()) %}
            <li class="page-item disabled" aria-disabled="true">
                <span class="page-link">&lsaquo; Previous</span>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.previousPageUrl() }}" rel="prev">&lsaquo; Previous</a>
            </li>
        {% endif %}

        {% if (paginator.hasMorePages()) %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.nextPageUrl() }}" rel="next">&rsaquo; Next</a>
            </li>
        {% else %}
            <li class="page-item disabled" aria-disabled="true">
                <span class="page-link">&rsaquo; Next</span>
            </li>
        {% endif %}
    </ul>
{% endif %}
