<ul class="pager">

{% if current_page > 1 %}
    <li class="previous">
        <a href="{{ urls.previous }}">&larr; Newer</a>
    </li>
{% else %}
    <li class="previous disabled">
        <a href="javascript:void(0)">&larr; Newer</a>
    </li>
{% endif %}

{% if current_page < total_page %}
    <li class="next">
        <a href="{{ urls.next }}">Older &rarr;</a>
    </li>
{% else %}
    <li class="next disabled">
        <a href="javascript:void(0)">Older &rarr;</a>
    </li>
{% endif %}

</ul>
