<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Slim - Simple Work</title>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>
</head>
<style type="text/css">
html, body {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.content {
  max-width: 50%;
}

.title {
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}

.sub-title {
    font-size: 25px;
    color: #777777;
}
</style>
<body>
<div class="container">
    <div class="content">
        <div class="title">
            Slim <span class="sub-title">- Simple Work</span>
        </div>
    </div>
</div>
</body>
</html>
