<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Slimork</title>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>
</head>
<style type="text/css">
html, body {
    height: 100%;
    font-family: 'Roboto Slab', serif;
}
a {
    text-decoration: none;
    color: #555555;
    font-size: 14px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.content {
  max-width: 50%;
}
.title {
    font-size: 50px;
    text-align: center;
}
.text-center {
    text-align: center;
}
</style>
<body>
<div class="container">
    <div class="content">
        <div class="title">
            Simork
        </div>
        <div class="text-center">
            Simple way to do your work
        </div>
    </div>
</div>
</body>
</html>
